:root {
	--color-light-gray: hsl(220, 10%, 85%);
	--color-red: hsl(0, 80%, 48%);
	--color-light-red: rgba(255,117,138,1);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-light-green: rgba(129, 249, 118, 1);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;
	--color-white:white;
	--color-black:black;
	--color-dark-gray: #787878;
	--color-bright-blue:#4257b2;
	--color-light-blue:rgba(66,87,178,0.5);
	--color-blue-hover:#c9ceeb;
}

* {
	font-family: 'Roboto-light', sans-serif !important;
	color:#454545;
   }

.navbar-container{
    margin-bottom:20px;
}

#add-btn{
	background-color:#12FFD4 !important;
	border-color:#C9C9C9;
	font-family: 'Roboto', sans-serif !important;
	color:#454545 !important;
}
#add-btn:hover{

	background-color:#C4FFF4 !important;
}
#disclaimer{
	margin-top:60px;
	font-size:12px;
}
.search-form{

	justify-content:center;
	margin-top:2em;
}
.custom-button-prop{
	border:none;
	background-color: none;
	color:#C9C9C9;
	padding-top:0px;
}

.search-box-container{
    margin-bottom:10px;
}

.hide{
	display:none;
}

.back-button-container{
      margin-left:4px;
      margin-bottom: 10px;
  }

.card{
	width:240px !important;
}
.col-sm-3{
	width:270px !important;
}
.custom-card{
	box-shadow: 0px 7px 10px #D5D5D5;
	margin-right:10px;
	margin-top:10px;
	font-family: 'Roboto-light', sans-serif !important;
	font-size:17px;
	border-radius: 0.5em !important;
	height:75px;
	width: 270px;

}
.side-effect-card{
	height:150px;
	width:150px;
	font-family: 'Roboto-light', sans-serif !important;
	font-size:20px !important;
	margin-right:5px;
	text-align: center;
	margin-top:5px;
}
.ui-menu-item-wrapper:hover{
    background: var(--color-bright-blue)!important;
    color:var(--color-white)!important;
}
#results-container{
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}
#drugs-container{
    margin-left:20px;
    /* margin-right:20px; */
	margin-top:10px;
	margin-bottom: 30px;
}
.cont-header{
	margin-bottom:20px !important;
}